<%= semantic_form_for @recapitulation, :url => admin_recapitulation_path(@recapitulation) do |f| %>
  <%= f.inputs do %>
    <% if f.object.new_record? %>
      <%= f.input :periode, :as => :select, :collection => ['2012', '2013', '2014'] %>
    <% else %>
      <%= f.input :periode, :label => "Kode Rencana Kerja", :input_html => { :disabled => true } %>
    <% end %>
    
    <%= f.input :keterangan_pembuka, :input_html => { :disabled => true } %>
    
    <% if !f.object.new_record? %>    
      <%= f.inputs "PKPT" do %>
        <table>
          <tr>
            <th>Entitas</th>
            <th>Wilayah</th>
            <th>Status</th>
          </tr>
          <% Pkpt.all.each do |pp| %>
            <tr>
              <td><%= pp.entity.entitas %></td>
              <td><%= "Wilayah #{pp.entity.wilayah}" %></td>
              <td><%= "Setuju" %></td>
            <tr>
          <% end %>
        </table>
      <% end %>
      
    <% end %>
    
    <%= f.input :keterangan_penutup, :input_html => { :disabled => true } %>
  
  <% end %>
  
  <%= f.actions do %>
    <li class="button"><%= link_to "Setujui", accept_lhp_admin_lhp_path(:id => f.object.id), :method => :put, :class => "button" %></li>
    <li class="button"><%= link_to "Cetak", accept_lhp_admin_lhp_path(:id => f.object.id), :method => :put, :class => "button" %></li>
  <% end %>
  
<% end %>